<div id="login-box">
  <div class="left">
    <h1>Log in</h1>

    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />

    <input type="submit" name="login_submit" value="Log in" />

    <!-- Added "Don't have an account?" link -->
  </div>

  <div class="right">
    <span class="loginwith">Log in with<br />social network</span>

    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
  <p class="signup-link">Don't have an account? <a routerLink="/sign-in"> Register here. </a></p>
</div>
