<!-- login.component.html -->
<div id="login-box">
  <div class="left">
    <h1>Log in</h1>

    <!-- Two-way binding for email and password -->
    <input
      type="text"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />

    <input
      type="submit"
      value="Log in"
      (click)="onLogin()"
    />
  </div>
  <!--
   <div class="right">
     <span class="loginwith">Log in with<br />social network</span>

     <button class="social-signin facebook">Log in with facebook</button>
     <button class="social-signin google">Log in with Google+</button>
   </div>
  <div class="or">OR</div>-->
  <p class="signup-link">Don't have an account? <a routerLink="/register"> Register here. </a></p>
</div>
