<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>

    <!-- Add ngModel for data binding -->
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" />
    <input type="text" name="email" [(ngModel)]="email" placeholder="E-mail" />
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" />
    <input type="password" name="password2" [(ngModel)]="password2" placeholder="Retype password" />

    <!-- Add (click) event binding to call register() on submit -->
    <input type="submit" name="signup_submit" value="Sign me up" (click)="register()" />
  </div>
  <!--
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>-->
  <p class="signup-link">Already have an account? <a routerLink="/login"> Log in here. </a></p>

</div>
